<%= form_for(@nap) do |f| %>
  <% if @nap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nap.errors.count, "error") %> prohibited this nap from being saved:</h2>

      <ul>
      <% @nap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nap_type %><br>
    <%= f.text_field :nap_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :coordinates %><br>
    <%= f.text_field :coordinates %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
