<p id="notice"><%= notice %></p>

<p>
  <strong>Nap type:</strong>
  <%= @nap.nap_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nap.description %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @nap.coordinates %>
</p>

<%= link_to 'Edit', edit_nap_path(@nap) %> |
<%= link_to 'Back', naps_path %>
